<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--The assembly that has all business classes that you will use for Faking, the path is the current execution assembly-->
  <add key="EntitiesAssembly" value="Domain.dll"/>
  <add key="EntitiesNamespace" value="Entities"/>
  <add key="UseFakeableAttribute" value="True"/>
  <add key="UseNotFakeableAttribute" value="True"/>
  
  <!--This value will be used to stop the recursive method that generate data to the level needed-->
  <add key="MaximumObjectGraphLevel" value="10000"/>
  

  <add key="Class_Property_Values" value=
       "Address-Seif|Lara|Rania|Radwan|Haitham|Null:0|GenerationType:List$
       Email-M.Radwan@gmail.com|Rania@hotmail.com|Lara@live.com|Null:0|GenerationType:List$
       Name-Seif|Lara|Rania|Radwan|Haitham|Null:0|GenerationType:List"
       />

  <add key="Type" value=
         "Int32-0123456789|Null:0|GenerationType:Value|Length:5$
         String-ABCDEFGHIJKLMNOPQRSTUVWXYZ|Null:0|GenerationType:Value|Length:8"
         />

</appSettings>