<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--The assembly that has all business classes-->
  <add key="EntitiesAssembly" value="Domain.dll"/>
  <!--This value will be used to stop the recursive method that generate data to the level needed-->
  <add key="MaximumObjectGraphLevel" value="100000"/>
</appSettings>